In [16]:
#import yfinance as yf
#!pip install ystockquote

#!pip install sqlalchemy
#!pip install pymysql
#!pip install openpyxl

In [17]:
import pandas as pd
import importlib
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime
pymysql.install_as_MySQLdb()


comp_list=pd.read_excel('/home/sanjay/Stock_Analysis/working/company_list.xlsx')





engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


company_list = Table(
   'company_list', meta, 
   Column('Sr_NO', Integer),
   Column('Symbol', String(100)), 
   Column('Company Name', String(100)), 
   Column('Market_capitalization', String(100))
   )

meta.create_all(engine)

#comp_list.to_sql('company_list',con=conn,index=False,if_exists='append')

2023-01-15 19:49:49,046 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-15 19:49:49,049 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,053 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-15 19:49:49,054 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,057 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-15 19:49:49,058 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-15 19:49:49,067 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-15 19:49:49,068 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'table_schema': 'stock_store', 'table_name': 'company_list'}
2023-01-15 19:49:49,072 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
comp_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2113 entries, 0 to 2112
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr_NO                  2113 non-null   int64
 1   Symbol                 2113 non-null   object
 2   Company Name           2113 non-null   object
 3   Market_capitalization  2113 non-null   object
dtypes: int64(1), object(3)
memory usage: 66.2+ KB

In [19]:
import yfinance as yf
import datetime as dt

# Set the start and end date
start_date = '2023-01-10'
end_date = '2023-01-31'

# Set the ticker
ticker1 = 'NEWGEN.NS'
ticker2 = 'RBLBANK.NS'
ticker3 = 'UPL.NS'
ticker4 = 'IRFC.NS'
ticker5 = 'WIPRO.NS'

ticker=['YESBANK.NS','RBLBANK.NS','UPL.NS']

# Get the data
yes_bank = yf.download(ticker1, start_date, end_date,interval="1m")
# rbl_bank = yf.download(ticker2, start_date, end_date)
# upl = yf.download(ticker3, start_date, end_date)
# irfc = yf.download(ticker4, start_date, end_date)
# wipro = yf.download(ticker5, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [20]:
yes_bank=yes_bank.reset_index()
yes_bank['Company']='Yes Bank'
yes_bank['Sector']='Bank'

In [21]:

yes_bank.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume,Company,Sector
0,2023-01-10 09:15:00,369.600006,369.600006,366.950012,366.950012,366.950012,0,Yes Bank,Bank
1,2023-01-10 09:16:00,366.799988,366.799988,366.549988,366.649994,366.649994,135,Yes Bank,Bank
2,2023-01-10 09:17:00,366.549988,366.950012,366.549988,366.750000,366.750000,716,Yes Bank,Bank
3,2023-01-10 09:18:00,368.750000,368.750000,368.549988,368.549988,368.549988,374,Yes Bank,Bank
4,2023-01-10 09:19:00,368.549988,368.549988,368.549988,368.549988,368.549988,16,Yes Bank,Bank

In [22]:

import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime

pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


stock_data = Table(
   'stock_data', meta, 
   Column('Datetime', DateTime), 
   Column('Open', Float), 
   Column('High', Float), 
   Column('Low', Float), 
   Column('Close', Float), 
   Column('Adj Close', Float), 
   Column('Volume', Integer),
   Column('Company', String(20)),
   Column('Sector', String(20))
)

meta.create_all(engine)

2023-01-15 19:49:58,011 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-15 19:49:58,012 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:58,015 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-15 19:49:58,017 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:58,019 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-15 19:49:58,021 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:58,029 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-15 19:49:58,031 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-15 19:49:58,034 INFO sqlalchemy.engine.Engine [generated in 0.00251s] {'table_schema': 'stock_store', 'table_name': 'stock_data'}
2023-01-15 19:49:58,038 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
#yes_bank.to_sql('stock_data',con=conn,index=False,if_exists='append')

In [80]:
import json

with open('cred.json','r') as cred_file:
    cred=cred_file.read()

obj=json.loads(cred)
print(obj['user'])

root

In [84]:
import pandas as pd
import json
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime





def mysql_conn():
    try:
        with open('cred.json','r') as cred_file:
            cred=cred_file.read()

        obj=json.loads(cred)
        user=obj['user']
        pwd=obj['pwd']
        host=obj['host']
        database=obj['database']

        print('\n\n JSON file loaded')

    except Exception as json_file:
        print('credential file error ',json_file)
    
    try:
        
        pymysql.install_as_MySQLdb()
        engine = create_engine(f"mysql://{user}:{pwd}@{host}/{database}",echo = True)
        print('connected successful')
        return engine

    except Exception as conn_err:

        print('connection error :',conn_err)


def db_insert_company_list(connect_mysql):
    global comp_list

    comp_list=pd.read_excel('/home/sanjay/Stock_Analysis/working/company_list.xlsx')
    try:
        comp_list.to_sql('company_list',con=connect_mysql,index=False,if_exists='append')
        
    except Exception as e:
        print('upload error ',e)




def test2():
    print('hello world')


def main():
    
    db_insert_company_list(mysql_conn().connect())
    print(comp_list.head())
    print('hello world')
        
    

    
    
    
    



if __name__ == '__main__':
    main()

hello world