In [16]:
#import yfinance as yf
#!pip install ystockquote

#!pip install sqlalchemy
#!pip install pymysql
#!pip install openpyxl

In [17]:
import pandas as pd
import importlib
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime
pymysql.install_as_MySQLdb()


comp_list=pd.read_excel('/home/sanjay/Stock_Analysis/working/company_list.xlsx')





engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


company_list = Table(
   'company_list', meta, 
   Column('Sr_NO', Integer),
   Column('Symbol', String(100)), 
   Column('Company Name', String(100)), 
   Column('Market_capitalization', String(100))
   )

meta.create_all(engine)

#comp_list.to_sql('company_list',con=conn,index=False,if_exists='append')

2023-01-15 19:49:49,046 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-15 19:49:49,049 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,053 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-15 19:49:49,054 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,057 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-15 19:49:49,058 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-15 19:49:49,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-15 19:49:49,067 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-15 19:49:49,068 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'table_schema': 'stock_store', 'table_name': 'company_list'}
2023-01-15 19:49:49,072 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
comp_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2113 entries, 0 to 2112
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr_NO                  2113 non-null   int64
 1   Symbol                 2113 non-null   object
 2   Company Name           2113 non-null   object
 3   Market_capitalization  2113 non-null   object
dtypes: int64(1), object(3)
memory usage: 66.2+ KB

In [19]:
import yfinance as yf
import datetime as dt

# Set the start and end date
start_date = '2023-01-10'
end_date = '2023-01-31'

# Set the ticker
ticker1 = 'NEWGEN.NS'
ticker2 = 'RBLBANK.NS'
ticker3 = 'UPL.NS'
ticker4 = 'IRFC.NS'
ticker5 = 'WIPRO.NS'

ticker=['YESBANK.NS','RBLBANK.NS','UPL.NS']

# Get the data
yes_bank = yf.download(ticker1, start_date, end_date,interval="1m")
# rbl_bank = yf.download(ticker2, start_date, end_date)
# upl = yf.download(ticker3, start_date, end_date)
# irfc = yf.download(ticker4, start_date, end_date)
# wipro = yf.download(ticker5, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [20]:
yes_bank=yes_bank.reset_index()
yes_bank['Company']='Yes Bank'
yes_bank['Sector']='Bank'

In [21]:

yes_bank.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume,Company,Sector
0,2023-01-10 09:15:00,369.600006,369.600006,366.950012,366.950012,366.950012,0,Yes Bank,Bank
1,2023-01-10 09:16:00,366.799988,366.799988,366.549988,366.649994,366.649994,135,Yes Bank,Bank
2,2023-01-10 09:17:00,366.549988,366.950012,366.549988,366.750000,366.750000,716,Yes Bank,Bank
3,2023-01-10 09:18:00,368.750000,368.750000,368.549988,368.549988,368.549988,374,Yes Bank,Bank
4,2023-01-10 09:19:00,368.549988,368.549988,368.549988,368.549988,368.549988,16,Yes Bank,Bank

In [4]:

import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime

pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


stock_data2 = Table(
   'stock_data3', meta, 
   Column('Datetime', DateTime), 
   Column('Open', Float), 
   Column('High', Float), 
   Column('Low', Float), 
   Column('Close', Float), 
   Column('Adj Close', Float), 
   Column('Volume', Integer),
   Column('Company', String(20)),
   Column('Sector', String(20))
)

meta.create_all(engine)

2023-01-18 21:27:15,678 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-18 21:27:15,684 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:27:15,687 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-18 21:27:15,695 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:27:15,700 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-18 21:27:15,702 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:27:15,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-18 21:27:15,713 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-18 21:27:15,716 INFO sqlalchemy.engine.Engine [generated in 0.00322s] {'table_schema': 'stock_store', 'table_name': 'stock_data3'}
2023-01-18 21:27:15,727 INFO sqlalchemy.engine.Engine
CREATE TABLE stock_data3 (
	`Datetime` DATETIME,
	`Open` FLOAT,
	`High` FLOAT,
	`Low` FLOAT,
	`Close` FLOAT,
	`Adj Close` FLOAT,
	`Volume` INTEGER,
	`Company` VARCHAR(20),
	`Sector` VARCHAR(20)
)


2023-01-18 21:27:15,731 INFO sqlalchemy.engine.Engine [no key 0.00413s] {}
2023-01-18 21:27:16,267 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
#yes_bank.to_sql('stock_data',con=conn,index=False,if_exists='append')

In [102]:
import logging  
  
logging.basicConfig(filename='logfile.log', level=logging.DEBUG, force=True)

In [2]:
import logging 
import pandas as pd
import json
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime
import warnings
import logging  
  




# def create_log():
#     logging.basicConfig(filename='logfile.log', level=logging.DEBUG, force=True)


def writeLog(get_output):
    logging.basicConfig(filename='logfile.log', level=logging.DEBUG, force=True)
    #logging.basicConfig(format='%(asctime)s - %(message)s', level=logging.INFO)  
    logging.info(f'Log message {get_output}')  
    logging.warning(f'warning message {get_output}') 
    



def mysql_conn():
    try:
        with open('cred.json','r') as cred_file:
            cred=cred_file.read()

        obj=json.loads(cred)
        user=obj['user']
        pwd=obj['pwd']
        host=obj['host']
        database=obj['database']

        print('\n\n JSON file loaded')

    except Exception as json_file:
        print('credential file error ',json_file)
    
    try:
        
        pymysql.install_as_MySQLdb()
        engine = create_engine(f"mysql://{user}:{pwd}@{host}/{database}",echo = True)
        print('connected successful')
        str='connected'
        writeLog(str)
        return engine

    except Exception as conn_err:

        print('connection error :',conn_err)


def db_insert_company_list(connect_mysql):
    global comp_list

    comp_list=pd.read_excel('/home/sanjay/Stock_Analysis/working/company_list.xlsx')
    try:
       
        comp_list.to_sql('company_list',con=connect_mysql,index=False,if_exists='append')
            
        
    except Exception as e:
        print('db_insert_company_list > upload error > ',e)




def test2():
    print('hello world')


def main():
    #create_log()
     with warnings.catch_warnings():
        db_insert_company_list(mysql_conn().connect())   # calling mysql_conn() func than return "engine" than .connect()
        warnings.filterwarnings("ignore",category=DeprecationWarning)
    #print(comp_list.head())
    # print('hello world')

    
    #writeLog()

        
    

    
    
    
    



if __name__ == '__main__':
    main()

 JSON file loaded
connected successful
2023-01-18 21:16:40,509 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-18 21:16:40,512 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:16:40,515 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-18 21:16:40,518 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:16:40,520 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-18 21:16:40,522 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:16:40,817 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-18 21:16:40,819 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {'table_schema': 'stock_store', 'table_name': 'company_list'}
2023-01-18 21:16:40,837 INFO sqlalchemy.engine.Engine INSERT INTO company_list (`Sr_NO`, `Symbol`, `Company Name`, `Market_capitalization`) VALUES (%(Sr_NO)s, %(Symbol)s, %(Company_Name)s, %(Market_capitalization)s)
2023-01-18 21:16:40,840 INFO sqlalchemy.engine.Engine [generated in 0.01259s] ({'Sr_NO': 1, 'Symbol': 'RELIANCE', 'Company_Name': 'Reliance Industries Limited', 'Market_capitalization': 172329584.148608}, {'Sr_NO': 2, 'Symbol': 'TCS', 'Company_Name': 'Tata Consultancy Services Limited', 'Market_capitalization': 119164326.06449099}, {'Sr_NO': 3, 'Symbol': 'HDFCBANK', 'Company_Name': 'HDFC Bank Limited', 'Market_capitalization': 90797942.979974}, {'Sr_NO': 4, 'Symbol': 'INFY', 'Company_Name': 'Infosys Limited', 'Market_capitalization': 63466275.27412599}, {'Sr_NO': 5, 'Symbol': 'ICICIBANK', 'Company_Name': 'ICICI Bank Limited', 'Market_capitalization': 62149392.6978855}, {'Sr_NO': 6, 'Symbol': 'HINDUNILVR', 'Company_Name': 'Hindustan Unilever Limited', 'Market_capitalization': 60174207.015451}, {'Sr_NO': 7, 'Symbol': 'SBIN', 'Company_Name': 'State Bank of India', 'Market_capitalization': 54770342.211558}, {'Sr_NO': 8, 'Symbol': 'HDFC', 'Company_Name': 'Housing Development Finance Corporation Limited', 'Market_capitalization': 48044948.218848}  ... displaying 10 of 2113 total bound parameter sets ...  {'Sr_NO': 2112, 'Symbol': 'WSI', 'Company_Name': 'W S Industries (I) Limited', 'Market_capitalization': '* Not Traded as on December 30, 2022'}, {'Sr_NO': 2113, 'Symbol': 'ZICOM', 'Company_Name': 'Zicom Electronic Security Systems Limited', 'Market_capitalization': '* Not Traded as on December 30, 2022'})
2023-01-18 21:16:40,898 INFO sqlalchemy.engine.Engine COMMIT

In [7]:

import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime

pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


table_1 = Table(
   'table_1', meta, 
   Column('column_1', Integer)
   
)

meta.create_all(engine)

2023-01-18 21:33:11,084 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-18 21:33:11,085 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:33:11,088 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-18 21:33:11,089 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:33:11,092 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-18 21:33:11,093 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-18 21:33:11,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-18 21:33:11,101 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-18 21:33:11,102 INFO sqlalchemy.engine.Engine [generated in 0.00151s] {'table_schema': 'stock_store', 'table_name': 'table_1'}
2023-01-18 21:33:11,106 INFO sqlalchemy.engine.Engine COMMIT

In [9]:

ins = table_1.insert()
ins = table_1.insert().values(column_1 = '13134')
conn = engine.connect()
result = conn.execute(ins)

2023-01-18 21:33:29,454 INFO sqlalchemy.engine.Engine INSERT INTO table_1 (column_1) VALUES (%(column_1)s)
2023-01-18 21:33:29,457 INFO sqlalchemy.engine.Engine [cached since 9.616s ago] {'column_1': '13134'}
2023-01-18 21:33:29,459 INFO sqlalchemy.engine.Engine COMMIT