In [43]:
#import yfinance as yf
#!pip install ystockquote

#!pip install sqlalchemy
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 618.7 kB/s eta 0:00:00 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [74]:
import yfinance as yf
import datetime as dt

# Set the start and end date
start_date = '2023-01-10'
end_date = '2023-01-31'

# Set the ticker
ticker1 = 'YESBANK.NS'
ticker2 = 'RBLBANK.NS'
ticker3 = 'UPL.NS'
ticker4 = 'IRFC.NS'
ticker5 = 'WIPRO.NS'

# Get the data
yes_bank = yf.download(ticker1, start_date, end_date,interval="1m")
# rbl_bank = yf.download(ticker2, start_date, end_date)
# upl = yf.download(ticker3, start_date, end_date)
# irfc = yf.download(ticker4, start_date, end_date)
# wipro = yf.download(ticker5, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [75]:
yes_bank=yes_bank.reset_index()
yes_bank['Company']='Yes Bank'
yes_bank['Sector']='Bank'

In [76]:

yes_bank.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume,Company,Sector
0,2023-01-10 09:15:00,185.800003,185.850006,185.399994,185.399994,185.399994,0,Yes Bank,Bank
1,2023-01-10 09:16:00,185.350006,186.000000,185.250000,185.250000,185.250000,65003,Yes Bank,Bank
2,2023-01-10 09:17:00,185.250000,185.300003,184.949997,185.050003,185.050003,92237,Yes Bank,Bank
3,2023-01-10 09:18:00,184.899994,185.300003,184.899994,184.949997,184.949997,42072,Yes Bank,Bank
4,2023-01-10 09:19:00,184.949997,185.050003,184.649994,184.899994,184.899994,79258,Yes Bank,Bank

In [72]:
import importlib
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime

#pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


stock_data = Table(
   'stock_data', meta, 
   Column('Datetime', DateTime), 
   Column('Open', Float), 
   Column('High', Float), 
   Column('Low', Float), 
   Column('Close', Float), 
   Column('Adj Close', Float), 
   Column('Volume', Integer),
   Column('Company', String(20)),
   Column('Sector', String(20))
)

meta.create_all(engine)

2023-01-14 21:09:12,827 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-14 21:09:12,828 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,834 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-14 21:09:12,836 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,838 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-14 21:09:12,839 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-14 21:09:12,932 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:09:12,933 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'table_schema': 'stock_store', 'table_name': 'stock_data'}
2023-01-14 21:09:12,941 INFO sqlalchemy.engine.Engine
CREATE TABLE stock_data (
	`Datetime` DATETIME,
	`Open` FLOAT,
	`High` FLOAT,
	`Low` FLOAT,
	`Close` FLOAT,
	`Adj Close` FLOAT,
	`Volume` INTEGER,
	`Company` VARCHAR(20),
	`Sector` VARCHAR(20)
)


2023-01-14 21:09:12,943 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-01-14 21:09:13,624 INFO sqlalchemy.engine.Engine COMMIT

In [77]:
yes_bank.to_sql(stock_data,con=conn,index=False,if_exists='append')

2023-01-14 21:10:31,116 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:10:31,119 INFO sqlalchemy.engine.Engine [cached since 78.19s ago] {'table_schema': 'stock_store', 'table_name': 'stock_data'}
2023-01-14 21:10:31,170 INFO sqlalchemy.engine.Engine INSERT INTO stock_data (`Datetime`, `Open`, `High`, `Low`, `Close`, `Adj Close`, `Volume`, `Company`, `Sector`) VALUES (%(Datetime)s, %(Open)s, %(High)s, %(Low)s, %(Close)s, %(Adj_Close)s, %(Volume)s, %(Company)s, %(Sector)s)
2023-01-14 21:10:31,174 INFO sqlalchemy.engine.Engine [generated in 0.04450s] ({'Datetime': datetime.datetime(2023, 1, 10, 9, 15), 'Open': 185.8000030517578, 'High': 185.85000610351562, 'Low': 185.39999389648438, 'Close': 185.39999389648438, 'Adj_Close': 185.39999389648438, 'Volume': 0, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 16), 'Open': 185.35000610351562, 'High': 186.0, 'Low': 185.25, 'Close': 185.25, 'Adj_Close': 185.25, 'Volume': 65003, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 17), 'Open': 185.25, 'High': 185.3000030517578, 'Low': 184.9499969482422, 'Close': 185.0500030517578, 'Adj_Close': 185.0500030517578, 'Volume': 92237, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 18), 'Open': 184.89999389648438, 'High': 185.3000030517578, 'Low': 184.89999389648438, 'Close': 184.9499969482422, 'Adj_Close': 184.9499969482422, 'Volume': 42072, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 19), 'Open': 184.9499969482422, 'High': 185.0500030517578, 'Low': 184.64999389648438, 'Close': 184.89999389648438, 'Adj_Close': 184.89999389648438, 'Volume': 79258, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 20), 'Open': 185.0, 'High': 185.14999389648438, 'Low': 184.89999389648438, 'Close': 184.89999389648438, 'Adj_Close': 184.89999389648438, 'Volume': 60618, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 21), 'Open': 185.0, 'High': 185.0, 'Low': 184.5, 'Close': 184.75, 'Adj_Close': 184.75, 'Volume': 196674, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 22), 'Open': 184.6999969482422, 'High': 184.6999969482422, 'Low': 184.3000030517578, 'Close': 184.5, 'Adj_Close': 184.5, 'Volume': 41273, 'Company': 'Yes Bank', 'Sector': 'Bank'}  ... displaying 10 of 1500 total bound parameter sets ...  {'Datetime': datetime.datetime(2023, 1, 13, 15, 29), 'Open': 176.5500030517578, 'High': 176.6999969482422, 'Low': 176.5, 'Close': 176.60000610351562, 'Adj_Close': 176.60000610351562, 'Volume': 41284, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 13, 15, 30), 'Open': 176.85000610351562, 'High': 176.85000610351562, 'Low': 176.85000610351562, 'Close': 176.85000610351562, 'Adj_Close': 176.85000610351562, 'Volume': 0, 'Company': 'Yes Bank', 'Sector': 'Bank'})
2023-01-14 21:10:31,972 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'Table' object has no attribute 'isdigit'

(1500, 7)