In [83]:
#import yfinance as yf
#!pip install ystockquote

#!pip install sqlalchemy
#!pip install pymysql
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 KB 1.5 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [90]:
import pandas as pd
import importlib
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime



comp_list=pd.read_excel('/home/sanjay/Stock_Analysis/working/company_list.xlsx')
comp


#pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


company_list = Table(
   'company_list', meta, 
   Column('Sr_NO', Integer),
   Column('Symbol', String(100)), 
   Column('Company Name', String(100)), 
   Column('Market_capitalization', String(100))
   )

meta.create_all(engine)

comp_list.to_sql(company_list,con=conn,index=False,if_exists='append')

2023-01-14 21:27:12,380 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-14 21:27:12,381 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:27:12,390 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-14 21:27:12,392 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:27:12,394 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-14 21:27:12,396 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:27:12,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-14 21:27:12,450 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:27:12,452 INFO sqlalchemy.engine.Engine [generated in 0.00254s] {'table_schema': 'stock_store', 'table_name': 'company_list'}
2023-01-14 21:27:12,464 INFO sqlalchemy.engine.Engine COMMIT
2023-01-14 21:27:12,481 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:27:12,482 INFO sqlalchemy.engine.Engine [cached since 0.03257s ago] {'table_schema': 'stock_store', 'table_name': 'company_list'}
2023-01-14 21:27:12,503 INFO sqlalchemy.engine.Engine INSERT INTO company_list (`Sr_NO`, `Symbol`, `Company Name`, `Market_capitalization`) VALUES (%(Sr_NO)s, %(Symbol)s, %(Company_Name)s, %(Market_capitalization)s)
2023-01-14 21:27:12,504 INFO sqlalchemy.engine.Engine [generated in 0.01176s] ({'Sr_NO': 1, 'Symbol': 'RELIANCE', 'Company_Name': 'Reliance Industries Limited', 'Market_capitalization': 172329584.148608}, {'Sr_NO': 2, 'Symbol': 'TCS', 'Company_Name': 'Tata Consultancy Services Limited', 'Market_capitalization': 119164326.06449099}, {'Sr_NO': 3, 'Symbol': 'HDFCBANK', 'Company_Name': 'HDFC Bank Limited', 'Market_capitalization': 90797942.979974}, {'Sr_NO': 4, 'Symbol': 'INFY', 'Company_Name': 'Infosys Limited', 'Market_capitalization': 63466275.27412599}, {'Sr_NO': 5, 'Symbol': 'ICICIBANK', 'Company_Name': 'ICICI Bank Limited', 'Market_capitalization': 62149392.6978855}, {'Sr_NO': 6, 'Symbol': 'HINDUNILVR', 'Company_Name': 'Hindustan Unilever Limited', 'Market_capitalization': 60174207.015451}, {'Sr_NO': 7, 'Symbol': 'SBIN', 'Company_Name': 'State Bank of India', 'Market_capitalization': 54770342.211558}, {'Sr_NO': 8, 'Symbol': 'HDFC', 'Company_Name': 'Housing Development Finance Corporation Limited', 'Market_capitalization': 48044948.218848}  ... displaying 10 of 2113 total bound parameter sets ...  {'Sr_NO': 2112, 'Symbol': 'WSI', 'Company_Name': 'W S Industries (I) Limited', 'Market_capitalization': '* Not Traded as on December 30, 2022'}, {'Sr_NO': 2113, 'Symbol': 'ZICOM', 'Company_Name': 'Zicom Electronic Security Systems Limited', 'Market_capitalization': '* Not Traded as on December 30, 2022'})
2023-01-14 21:27:13,885 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'Table' object has no attribute 'isdigit'

In [92]:
comp_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2113 entries, 0 to 2112
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr_NO                  2113 non-null   int64
 1   Symbol                 2113 non-null   object
 2   Company Name           2113 non-null   object
 3   Market_capitalization  2113 non-null   object
dtypes: int64(1), object(3)
memory usage: 66.2+ KB

In [93]:
import yfinance as yf
import datetime as dt

# Set the start and end date
start_date = '2023-01-10'
end_date = '2023-01-31'

# Set the ticker
ticker1 = 'NEWGEN.NS'
ticker2 = 'RBLBANK.NS'
ticker3 = 'UPL.NS'
ticker4 = 'IRFC.NS'
ticker5 = 'WIPRO.NS'

ticker=['YESBANK.NS','RBLBANK.NS','UPL.NS']

# Get the data
yes_bank = yf.download(ticker1, start_date, end_date,interval="1m")
# rbl_bank = yf.download(ticker2, start_date, end_date)
# upl = yf.download(ticker3, start_date, end_date)
# irfc = yf.download(ticker4, start_date, end_date)
# wipro = yf.download(ticker5, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [75]:
yes_bank=yes_bank.reset_index()
yes_bank['Company']='Yes Bank'
yes_bank['Sector']='Bank'

In [76]:

yes_bank.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume,Company,Sector
0,2023-01-10 09:15:00,185.800003,185.850006,185.399994,185.399994,185.399994,0,Yes Bank,Bank
1,2023-01-10 09:16:00,185.350006,186.000000,185.250000,185.250000,185.250000,65003,Yes Bank,Bank
2,2023-01-10 09:17:00,185.250000,185.300003,184.949997,185.050003,185.050003,92237,Yes Bank,Bank
3,2023-01-10 09:18:00,184.899994,185.300003,184.899994,184.949997,184.949997,42072,Yes Bank,Bank
4,2023-01-10 09:19:00,184.949997,185.050003,184.649994,184.899994,184.899994,79258,Yes Bank,Bank

In [72]:
import importlib
import sqlalchemy as db
from sqlalchemy import engine,create_engine
import pymysql
from sqlalchemy import MetaData,Table, Column, Integer, String,Float,DateTime

#pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:1234@localhost/stock_store",echo = True)
conn=engine.connect()
meta = MetaData()


stock_data = Table(
   'stock_data', meta, 
   Column('Datetime', DateTime), 
   Column('Open', Float), 
   Column('High', Float), 
   Column('Low', Float), 
   Column('Close', Float), 
   Column('Adj Close', Float), 
   Column('Volume', Integer),
   Column('Company', String(20)),
   Column('Sector', String(20))
)

meta.create_all(engine)

2023-01-14 21:09:12,827 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-01-14 21:09:12,828 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,834 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-01-14 21:09:12,836 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,838 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-01-14 21:09:12,839 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-14 21:09:12,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-14 21:09:12,932 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:09:12,933 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'table_schema': 'stock_store', 'table_name': 'stock_data'}
2023-01-14 21:09:12,941 INFO sqlalchemy.engine.Engine
CREATE TABLE stock_data (
	`Datetime` DATETIME,
	`Open` FLOAT,
	`High` FLOAT,
	`Low` FLOAT,
	`Close` FLOAT,
	`Adj Close` FLOAT,
	`Volume` INTEGER,
	`Company` VARCHAR(20),
	`Sector` VARCHAR(20)
)


2023-01-14 21:09:12,943 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-01-14 21:09:13,624 INFO sqlalchemy.engine.Engine COMMIT

In [77]:
yes_bank.to_sql(stock_data,con=conn,index=False,if_exists='append')

2023-01-14 21:10:31,116 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-01-14 21:10:31,119 INFO sqlalchemy.engine.Engine [cached since 78.19s ago] {'table_schema': 'stock_store', 'table_name': 'stock_data'}
2023-01-14 21:10:31,170 INFO sqlalchemy.engine.Engine INSERT INTO stock_data (`Datetime`, `Open`, `High`, `Low`, `Close`, `Adj Close`, `Volume`, `Company`, `Sector`) VALUES (%(Datetime)s, %(Open)s, %(High)s, %(Low)s, %(Close)s, %(Adj_Close)s, %(Volume)s, %(Company)s, %(Sector)s)
2023-01-14 21:10:31,174 INFO sqlalchemy.engine.Engine [generated in 0.04450s] ({'Datetime': datetime.datetime(2023, 1, 10, 9, 15), 'Open': 185.8000030517578, 'High': 185.85000610351562, 'Low': 185.39999389648438, 'Close': 185.39999389648438, 'Adj_Close': 185.39999389648438, 'Volume': 0, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 16), 'Open': 185.35000610351562, 'High': 186.0, 'Low': 185.25, 'Close': 185.25, 'Adj_Close': 185.25, 'Volume': 65003, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 17), 'Open': 185.25, 'High': 185.3000030517578, 'Low': 184.9499969482422, 'Close': 185.0500030517578, 'Adj_Close': 185.0500030517578, 'Volume': 92237, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 18), 'Open': 184.89999389648438, 'High': 185.3000030517578, 'Low': 184.89999389648438, 'Close': 184.9499969482422, 'Adj_Close': 184.9499969482422, 'Volume': 42072, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 19), 'Open': 184.9499969482422, 'High': 185.0500030517578, 'Low': 184.64999389648438, 'Close': 184.89999389648438, 'Adj_Close': 184.89999389648438, 'Volume': 79258, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 20), 'Open': 185.0, 'High': 185.14999389648438, 'Low': 184.89999389648438, 'Close': 184.89999389648438, 'Adj_Close': 184.89999389648438, 'Volume': 60618, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 21), 'Open': 185.0, 'High': 185.0, 'Low': 184.5, 'Close': 184.75, 'Adj_Close': 184.75, 'Volume': 196674, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 10, 9, 22), 'Open': 184.6999969482422, 'High': 184.6999969482422, 'Low': 184.3000030517578, 'Close': 184.5, 'Adj_Close': 184.5, 'Volume': 41273, 'Company': 'Yes Bank', 'Sector': 'Bank'}  ... displaying 10 of 1500 total bound parameter sets ...  {'Datetime': datetime.datetime(2023, 1, 13, 15, 29), 'Open': 176.5500030517578, 'High': 176.6999969482422, 'Low': 176.5, 'Close': 176.60000610351562, 'Adj_Close': 176.60000610351562, 'Volume': 41284, 'Company': 'Yes Bank', 'Sector': 'Bank'}, {'Datetime': datetime.datetime(2023, 1, 13, 15, 30), 'Open': 176.85000610351562, 'High': 176.85000610351562, 'Low': 176.85000610351562, 'Close': 176.85000610351562, 'Adj_Close': 176.85000610351562, 'Volume': 0, 'Company': 'Yes Bank', 'Sector': 'Bank'})
2023-01-14 21:10:31,972 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'Table' object has no attribute 'isdigit'

(1500, 7)